.cardfood {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
  }
  .img-1 {
    height: 152px;
    width: 252px;
  }
  .frame-4-7-5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7px;
  }
  .text-2 {
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    font-family: Inter;
    line-height: auto;
    color: #262628;
  }
  .frame-4-7-4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }
  .text-3 {
    text-align: left;
    vertical-align: top;
    font-size: 10px;
    font-family: Libre Franklin;
    line-height: auto;
    color: #333333;
  }
  .ant--design-:star--filled {
    height: 16px;
    width: 16px;
    background-color: #ffffff;
  }
  .frame-5-0-5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 9px;
  }
  .img-4 {
    border-radius: 5px;
    height: 24px;
    width: 24px;
    background-color: rgba(255, 122, 0, 0.15000000596046448);
  }
  .frame-5-0-4 {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    border: 1px solid #ff7a00;
  }
  .text-5 {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-family: Inter;
    line-height: auto;
    color: #9b9b9b;
  }
  .img-6 {
    border-radius: 5px;
    height: 24px;
    width: 24px;
    background-color: rgba(255, 122, 0, 0.15000000596046448);
  }
  .button {
    height: 40px;
    width: 252px;
    background-color: #ffffff;
  }
  .text-7 {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-family: Poppins;
    letter-spacing: 0.75px;
    line-height: 24px;
    color: #fff9eb;
  }
  