.cardfood {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
  }
  .img-1 {
    height: 152px;
    width: 252px;
  }
  .frame-4-7-5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 7px;
  }
  .text-2 {
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    font-family: Inter;
    line-height: auto;
    color: #262628;
  }
  .frame-4-7-4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }
  .text-3 {
    text-align: left;
    vertical-align: top;
    font-size: 10px;
    font-family: Libre Franklin;
    line-height: auto;
    color: #333333;
  }
  .ant--design-:star--filled {
    height: 16px;
    width: 16px;
    background-color: #ffffff;
  }
  .frame-5-0-5 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 9px;
  }
  .img-4 {
    border-radius: 5px;
    height: 24px;
    width: 24px;
    background-color: rgba(255, 122, 0, 0.15000000596046448);
  }
  .frame-5-0-4 {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    border: 1px solid #ff7a00;
  }
  .text-5 {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-family: Inter;
    line-height: auto;
    color: #9b9b9b;
  }
  .img-6 {
    border-radius: 5px;
    height: 24px;
    width: 24px;
    background-color: rgba(255, 122, 0, 0.15000000596046448);
  }
  .button {
    height: 40px;
    width: 252px;
    background-color: #ffffff;
  }
  .text-7 {
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-family: Poppins;
    letter-spacing: 0.75px;
    line-height: 24px;
    color: #fff9eb;
  }
  .btn-flotante {
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    text-transform: uppercase; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: #ffffff; /* Color del texto */
    border-radius: 5px; /* Borde del boton */
    letter-spacing: 2px; /* Espacio entre letras */
    background-color: #F05742; /* Color de fondo */
    padding: 18px 30px; /* Relleno del boton */
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  .btn-flotante:hover {
    background-color: #550c02; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }
  @media only screen and (max-width: 600px) {
     .btn-flotante {
      font-size: 14px;
      padding: 12px 20px;
      bottom: 20px;
      right: 20px;
    }
  } 
  